@import "/sass-bootstrap-glyphicons/css/bootstrap-glyphicons.css"; <% } %>

.header
    height: 50px;

.yeoman-team
    max-width: 90%;
    display:block;
    margin: 20px 0 50px;

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-hiddenVisually
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
