{% extends 'base.html.twig' %}
<% if (props.critical) { %>
{% block stylesheetsDist %}
    <style type="text/css">
        {% include 'public/styles/critical/index.css' ignore missing %}
    </style>
    <script>
        (function(u){function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}for(var i in u){loadCSS(u[i]);}}(["{{ asset('styles/main.css') }}"]));
    </script>
    <noscript>
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    </noscript>
{% endblock stylesheetsDist %}
<% } %>
{% block body %}
    <header  role="banner" class="header u-mb+">
        <div class="header__content">
            <div itemscope itemtype="http://schema.org/WPHeader">
                <h1 class="header__title" itemprop="headline"><%= appname %></h1>
                <div class="header__description" itemprop="description">Site Description</div>
            </div>
            <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul class="nav">
                    <li itemprop="url">
                        <a class="nav__item nav__item--first" href="http://mysite.com/" title="Home" itemprop="name">Home</a>
                    </li>
                    <li itemprop="url">
                        <a class="nav__item nav__item--last" href="http://mysite.com//about.php" title="About" itemprop="name">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main role="main" class="content">
        <div class="panel flag flag--rev u-mb+">
            <div class="flag__body">
                <h2>'Allo, 'Allo!</h2>
                <p class="u-mb">Always a pleasure scaffolding your apps.</p>
                <button class="btn">Splendit
                    <svg xmlns="http://www.w3.org/2000/svg" class="Icon"><use xlink:href="#icon-check"></use></svg>
                </button>
            </div>
            <div class="flag__image">
                <img class="yeoman-team" src="{{ asset('img/yo-grunt-bower-symfony.png') }}" width="600" alt=""/>
            </div>
        </div>

        <div class="box box--flush">
            <h3 class="u-mb">Here's what you got</h3>
            <b>Symfony</b>
            <p>High Performance PHP Framework for Web Development</p>
            <b>Browsersync</b>
            <p>Keep multiple browsers & devices in sync when building websites.</p>

            <% if (props.preprocessor === 'less') { %><b>Less</b>
            <p>Less is a mature, stable, and powerful professional grade CSS extension language.</p>
            <% } else if (props.preprocessor === 'sass') { %><b>Sass</b>
            <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>
            <% } else if (props.preprocessor === 'stylus') { %><b>Stylus</b>
            <p>Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.</p>
            <% } %>
            <% if (props.critical) { %><b>Critical</b>
            <p>Extracts & inlines critical-path (above-the-fold) CSS from HTML.</p><% } %>
            <b>Bootstrap</b>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
            <% if (props.loader === 'requirejs') { %><b>RequireJS</b>
            <p>A JavaScript file and module loader optimized for in-browser use.</p><% } %>
            <% if (props.loader === 'jspm') { %><b>JSPM</b>
            <p>jspm is a package manager for the SystemJS universal module loader, built on top of the dynamic ES6 module loader</p><% } %>
        </div>
    </main>
{% endblock %}
