@import "/uikit/<% if (props.noBower) { %>dist/<% } %>css/uikit.almost-flat.css";

a {
    transition: all 100ms ease-in-out;
}

.yeoman-team
    max-width: 90%;
    display:block;
    margin: 20px 0 50px;
