/* ==========================================================================
   ICONS
   ========================================================================== */

/**
 * Simple default styles svg icons
 */

.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
    vertical-align: middle;
}
