/* ==========================================================================
   ICONS
   ========================================================================== */

/**
 * Simple default styles svg icons
 */

.icon {
    width: inuit-rem(25px);
    height: inuit-rem(25px);
    fill: currentColor;
    vertical-align: middle;
}
